/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 解决IOS默认滑动很卡的情况 */
    -webkit-overflow-scrolling: touch;
  }
  
  /* 禁止缩放表单 */
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input {
    resize: none;
    border: none;
  }
  
  /* 取消链接高亮  */
  body,
  div,
  ul,
  li,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea,
  select,
  p,
  dl,
  dt,
  dd,
  a,
  img,
  button,
  form,
  table,
  th,
  tr,
  td,
  tbody,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  /* 设置HTML5元素为块 */
  a,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  /* 图片自适应 */
  img {
    width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
    display: block;
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
  }
  
  html,
  body,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  a,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  input {
    white-space: nowrap;
  }
  
  * {
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  ul,
  li,
  ol {
    list-style: none;
  }
  
  img {
		width: 100%;
		height: 100%;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  a {
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
  }
  
  a:active {
    outline: 0;
  }
  
  a:visited {
    color: inherit;
  }
  
  input,
  textarea,
  select,
  button {
    outline: none;
    -webkit-appearance: none;
  }
  
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #cccccc;
  }
  
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #cccccc;
  }
  
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #cccccc;
  }
  
  html,
  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Syht;
  }
  
  ::-webkit-scrollbar {
    width: 0%;
    height: 100%;
  }
  
  :-webkit-autofill {
    -webkit-text-fill-color: #333 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  